.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1.2em 0;
}

.page-link {
  background-color: #2481a9d8;
  color: #fff;
  border: none;
  padding: 0.5em 0.7em;
  border-radius: 0.2em;
  cursor: pointer;
  margin: 0.3em; 
}

.page-link.active {
  background-color: #2481a9;
}

@media only screen and (max-width: 768px) {
  .page-link {
    margin: 0.3em;
  }
  .pagination {
    column-gap: 0.2em;
  }
}
